<%-include(".././../Layouts/userheader.ejs")%>

    <%if(typeof message !=="undefined" ){%>
        <h5 style="color:red" id="errormsg" class="text-center">
            <%=message%>
        </h5>
        <%}%>

            <main class="main">
                
                <div class="page-header breadcrumb-wrap">
                    <div class="container">
                        <div class="breadcrumb">
                            <a href="/loginhomepage" rel="nofollow">Home</a>
                            <span></span> Pages
                            <span></span> Contact us
                        </div>
                    </div>
                </div>
                <section class="hero-2 bg-green" style="height: 100vh;">
                    <div class="hero-content">
                        <div class="container">
                            <div class="text-center">
                                <h4 class="text-brand mb-20">Get in touch</h4>
                                <h1 class="mb-20 wow fadeIn animated font-xxl fw-900">
                                    Let's Talk <span class="text-style-1"></span>
                                </h1>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-8 col-lg-10 m-auto">
                                            <div class="contact-from-area padding-20-row-col wow FadeInUp">


                                                <form class="contact-form-style text-center" id="contact-form"
                                                    action="/sendMessage" method="post">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="input-style mb-20">
                                                                <input name="name" placeholder="First Name" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="input-style mb-20">
                                                                <input name="email" placeholder="Your Email"
                                                                    type="email">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="input-style mb-20">
                                                                <input name="telephone" placeholder="Your Phone"
                                                                    type="tel">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="input-style mb-20">
                                                                <input name="subject" placeholder="Subject" type="text">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="textarea-style mb-30">
                                                                <textarea name="message"
                                                                    placeholder="Message"></textarea>
                                                                    <h4 id="contact message" style="color: red; font-weight: 400; font-family: Georgia, 'Times New Roman', Times, serif; background-color: white;" class="text-center"></h4>
                                                            </div>
                                                            
                                                            <button class="submit submit-auto-width" type="submit">Send
                                                                message</button>
                                                        </div>
                                                    </div>
                                                </form>



                                                <p class="form-messege"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
              

            </main>
            <%-include(".././../Layouts/userfooter.ejs")%>

           
            <!-- Vendor JS-->
            <script data-cfasync="false"
                src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
            <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
            <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
            <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
            <script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
            <script src="assets/js/plugins/slick.js"></script>
            <script src="assets/js/plugins/jquery.syotimer.min.js"></script>
            <script src="assets/js/plugins/wow.js"></script>
            <script src="assets/js/plugins/jquery-ui.js"></script>
            <script src="assets/js/plugins/perfect-scrollbar.js"></script>
            <script src="assets/js/plugins/magnific-popup.js"></script>
            <script src="assets/js/plugins/select2.min.js"></script>
            <script src="assets/js/plugins/waypoints.js"></script>
            <script src="assets/js/plugins/counterup.js"></script>
            <script src="assets/js/plugins/jquery.countdown.min.js"></script>
            <script src="assets/js/plugins/images-loaded.js"></script>
            <script src="assets/js/plugins/isotope.js"></script>
            <script src="assets/js/plugins/scrollup.js"></script>
            <script src="assets/js/plugins/jquery.vticker-min.js"></script>
            <script src="assets/js/plugins/jquery.theia.sticky.js"></script>
            <script src="assets/js/plugins/leaflet.js"></script>
            <!-- Template  JS -->
            <script src="assets/js/main.js"></script>
            
            <script>


                $(document).ready(function () {
                    setTimeout(() => {
                        document.getElementById('errormsg').innerText = ""
                    }, 3000)

                    // When the form is submitted
                    $('#contact-form').submit(function (e) {
                        // Prevent the default form submission behavior
                        e.preventDefault();

                        // Serialize the form data into a format that can be sent via AJAX
                        var formData = $(this).serialize();

                        // Send an AJAX request to the server
                        $.ajax({
                            type: 'POST',
                            url: '/sendMessage', // Replace with the correct URL
                            data: formData,
                            success: function (response) {

                             document.getElementById('contact message').innerText=response.message
                             setTimeout(()=>{
                                document.getElementById('contact message').innerText=""
                             },3000)
                            },
                            error: function (error) {
                                // Handle any errors that occur during the AJAX request
                                console.error('Error:', error);
                            }
                        });
                    });
                });
            </script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:06 GMT -->

</html>